/// <summary>
/// RAM: 100%
/// </summary>
.example-radio-group {
    display: flex; flex-direction: column;
    /* display: inline-grid; */ 
    /* display: grid; */
    margin: 15px;
  }
.margin {
    margin: 15px;
}