/// <summary>
/// RAM: 70%
/// </summary>
<div>
    <app-vertical-grouped-bar-chart></app-vertical-grouped-bar-chart>
    <div class="margin">
        {{'statistic.totalTags' | translate}}: {{totalTags}}
    </div>
    <div class="margin">
        {{'common.orderBy' | translate}}:
    </div>
    <mat-radio-group class="example-radio-group" attr.aria-label="{{'common.orderBy' | translate}}">
        <mat-radio-button (click)="setClicked(true, false, false)" checked="true" value="valueContacts">{{'statistic.frequencyContact' | translate}}</mat-radio-button>
        <mat-radio-button (click)="setClicked(false, true, false)" value="valueOrganizations">{{'statistic.frequencyOrganization' | translate}}</mat-radio-button>
        <mat-radio-button (click)="setClicked(false, false, true)" value="valueEvents">{{'statistic.frequencyEvent' | translate}}</mat-radio-button>
    </mat-radio-group>
</div>
