/// <summary>
/// RAM: 80%
/// </summary>
<!-- list of addresses -->
<form [formGroup]="myForm" novalidate class="border border-primary">
    <div formArrayName="contactPossibilitiesEntries" *ngFor="let contactEntry of getControls(); let i=index">
        <div align="end">
            <button class="smallicon" button="submit" mat-mini-fab color="primary"
                (click)="removeEntry(i)">
                <mat-icon class="smallicon">clear</mat-icon>
            </button>
        </div>
        <!-- address header, show remove button when more than one address available -->
        <div>
            <span class="margin10">{{'contact.contactPossibility' | translate}} {{i + 1}}</span>
        </div>
        <!-- Angular assigns array index as group name by default 0, 1, 2, ... -->
            <!--contactEntryName-->
        <div [formGroup]="contactEntry">
            <div>
                <label class="minWidth300AndMargin10">{{'common.contactType' | translate}} </label>
                <input type="text" formControlName="contactEntryName">
                <!--display error message if contactEntryName is not valid-->
                <small [hidden]="getForm(i).get('contactEntryName').valid">
                    {{'validation.nameRequired' | translate}}
                </small>
            </div>
            <!--contactEntryValue-->
            <div>
                <label class="minWidth300AndMargin10">{{'common.contactValue' | translate}}</label>
                <input type="text" formControlName="contactEntryValue">
                <!--display error message if contactEntryValue is not valid-->
                <small [hidden]="getForm(i).get('contactEntryValue').valid">
                    {{'validation.mailPhoneRequired' | translate}}
                </small>
            </div>
         </div>
    </div>
    <div>
        <button class="button" button="submit" mat-mini-fab color="primary"
            (click)="addEntry()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</form>

