  <mat-toolbar color="primary" *ngIf="isLoggedIn()">
    <a routerLink="/">
      <img class="icon" src="/assets/logo.svg">
      <span> CrOHMs </span>
    </a>
    <nav mat-tab-nav-bar backgroundColor="primary" *ngIf="isLoggedIn()">
      <a mat-tab-link
        *ngFor="let link of navLinks"
        [routerLink]="link.link"
        routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">
        <div style="color:white; margin-left: 10px;">
          {{link.label}}
        </div>
      </a>
    </nav>
    <app-user-menu class="userMenu"></app-user-menu>
  </mat-toolbar>
  <router-outlet></router-outlet>
  