<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <mat-nav-list>
      <a mat-list-item routerLink="/contacts">
        <span class="label">{{'contact.contacts' | translate}}</span>
      </a>
      <a mat-list-item routerLink="/organizations">
        <span class="label">{{'organization.organizations' | translate}}</span>
      </a>
      <a mat-list-item routerLink="/calendar">
        <span class="label">Kalender</span>
      </a>
      <a mat-list-item routerLink="/events">
        <span class="label">{{'event.events' | translate}}</span>
      </a>
      <a mat-list-item routerLink="/statistics">
        <span class="label">{{'statistic.statistics' | translate}}</span>
      </a>
      <a>
        <app-language-select></app-language-select>
      </a>
      <a>
        <app-user-menu *ngIf="isLoggedIn()"></app-user-menu>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxHide.gt-xs *ngIf="isLoggedIn()" >
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <a routerLink="/">
        <img class="icon" src="/assets/logo.svg">
        <span> CRohM </span>
      </a>
      <div fxFlex fxLayout fxHide.xs *ngIf="isLoggedIn()" fxLayout fxLayoutGap="40px" class="navigation-items">
        <nav mat-tab-nav-bar fxFlex fxLayout fxHide.xs backgroundColor="primary">
          <a mat-tab-link
              *ngFor="let link of navLinks"
              [routerLink]="link.link"
              routerLinkActive #rla="routerLinkActive"
              [active]="rla.isActive">
            <div style="color:white; margin-left: 10px; font-size: larger;">
              {{link.label | translate}}
            </div>
          </a>
        </nav>
        <div class="userMenu">
          <app-language-select></app-language-select>
          <app-user-menu *ngIf="isLoggedIn()"></app-user-menu>
        </div>
      </div>
      </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>