<h1 mat-dialog-title>{{'settings.createRole' | translate}}</h1>
<div mat-dialog-content>
  <form [formGroup]="roleForm">

    <mat-form-field class="full-width">
      <mat-label>{{'common.name' | translate}}</mat-label>
      <input id="roleNameInputField" matInput placeholder="{{'common.name' | translate}}" formControlName="name">
    </mat-form-field>

    <mat-form-field *ngIf="permissionsTranslate != null && permissionsTranslate.length > 0" class="full-width">
      <mat-label>{{'settings.permissions' | translate}}</mat-label>
      <mat-select id="permissionSelection" formControlName="permissions" multiple>
        <mat-option *ngFor="let permission of permissionsTranslate" [value]="permission.value">{{permission.label | translate}}</mat-option>
      </mat-select>
    </mat-form-field>

  </form>
</div>
<div mat-dialog-actions>
  <span class="fill-remaining-space"></span>
  <button mat-raised-button (click)="onCancel()">{{'common.cancel' | translate}}</button>
  <button id="saveRoleButton" mat-raised-button [mat-dialog-close]="roleForm.value" [disabled]="!roleForm.valid"
    color="primary">{{'common.save' | translate}}</button>
</div>