/// <summary>
/// RAM: 60%
/// </summary>
  <h1 mat-dialog-title  id="title">{{'contact.edit' | translate}}</h1>
  <div mat-dialog-content>

    <div class="contactDetails" [formGroup]="contactsForm">

        <div class="row">
            <div class="col-md-3">
                <mat-form-field>
                    <input matInput placeholder="{{'contact.firstName' | translate}}" formControlName="preName">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field>
                    <input matInput placeholder="{{'contact.lastName' | translate}}" formControlName="name">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <mat-form-field>
                    <mat-label>{{'contact.chooseGender' | translate}}</mat-label>
                    <mat-select id="gender" formControlName="gender">
                        <mat-option [value]="suit.type" *ngFor="let suit of genderTypes">{{suit.translate | translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field>
                    <input id="contactPartner" matInput placeholder="{{'contact.contactPartner' | translate}}" formControlName="contactPartner">
                </mat-form-field>
            </div>
        </div>

        <mat-divider></mat-divider>

        <!-- Adresse -->
        <app-osm-address formGroupName="address"></app-osm-address>

        <mat-divider></mat-divider>
        <div>
            <h3>
                {{'contact.contactPossibilities' | translate}}
            </h3>
        </div>
        <!-- Kontaktmöglichkeiten -->
        <div class="row" formGroupName="contactPossibilities">
            <div class="col-md-3">
                <mat-form-field>
                    <input matInput placeholder="{{'contact.mail' | translate}}" formControlName="mail">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field>
                    <input matInput placeholder="{{'contact.phoneNumber' | translate}}" formControlName="phoneNumber">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field>
                    <input matInput placeholder="{{'contact.fax' | translate}}" formControlName="fax">
                </mat-form-field>
            </div>
            <app-contact-possibilities></app-contact-possibilities>
        </div>
        <div class="marginTop">
            <h3>
                Tags
            </h3>
        </div>
        <mat-chip-list class="contactDetails" #chipList>
            <mat-chip class="my-chip"
                (keyup.backspace)="removeTag()"
                *ngFor="let item of selectedTags"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(item)">
                {{ item.name }}
                <mat-icon class="removeIcon" matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input
                placeholder="{{'common.newTag' | translate}}..."
                #tagInput
                [matAutocomplete]="auto"
                #inputTrigger
                [matChipInputFor]="chipList"
                [formControl]="tagsControl"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (keyup.enter)="addTag($event)">
        </mat-chip-list>
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let item of filteredTagsObservable | async" [value]="item">
              {{item}}
            </mat-option>
          </mat-autocomplete>
    </div>
</div>
    <div mat-dialog-actions align="end">
        <button mat-raised-button (click)="onDelete()" color="warn">{{'common.delete' | translate}}</button>
        <span class="fill-remaining-space"></span>
        <button mat-raised-button color="primary" title="{{'common.cancel' | translate}}" (click)="onCancel()">
            {{'common.cancel' | translate}}
        </button>
        <button id="saveEdit" mat-raised-button color="primary" title="{{'common.save' | translate}}" type="submit" [disabled]="!contactsForm.valid"
            (click)="onApprove()">
            {{'common.save' | translate}}
        </button>
    </div>