<mat-dialog-content class="contactDetails" [formGroup]="contactsForm">
    <div class="row">
        <div class="col-md-12">
            <h3>
                Kontakt bearbeiten
            </h3>
        </div>
        <div class="col-md-3">
            <mat-form-field>
                <input matInput placeholder="Vorname" formControlName="preName">
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field>
                <input matInput placeholder="Nachname" formControlName="name">
            </mat-form-field>
        </div>
    </div>

    <app-osm-address formControlName="address"></app-osm-address>

    <div class="row" formGroupName="contactPossibilities">
        <div class="col-md-3">
            <mat-form-field>
                <input matInput placeholder="E-Mail" formControlName="mail">
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field>
                <input matInput placeholder="Telefonnummer" formControlName="phoneNumber">
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field>
                <input matInput placeholder="Faxnummer" formControlName="fax">
            </mat-form-field>
        </div>
        <app-contact-possibilities></app-contact-possibilities>
    </div>
    <div>
        <span class="fill-remaining-space"></span>
        <button mat-raised-button color="primary" title="Abbrechen" (click)="onCancel()">
            Abbrechen
        </button>
        <button mat-raised-button color="primary" title="Speichern" type="submit" [disabled]="!contactsForm.valid"
            (click)="onApprove()">
            Speichern
        </button>
    </div>
</mat-dialog-content>