################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebApi/.vs/WebApi
/WebApi/WebApi/bin/Debug/netcoreapp3.1
/WebApi/WebApi/obj
/WebApi/ModelLayer/bin/Debug/netcoreapp3.1
/WebApi/ModelLayer/obj
/WebApi/RepositoryLayer/obj
/WebApi/RepositoryLayer/bin/Debug/netcoreapp3.1
/WebApi/ServiceLayer/bin/Debug/netcoreapp3.1
/WebApi/ServiceLayer/obj
/WebApi/ServiceLayerTests/bin/Debug/netcoreapp3.1
/WebApi/ServiceLayerTests/obj
/backend/.vs/WebApi/v16/Server/sqlite3/storage.ide-shm
/backend/.vs/WebApi/v16/Server/sqlite3/storage.ide-wal
/backend/ModelLayer/bin/Debug/netcoreapp3.1
/backend/ModelLayer/obj/Debug/netcoreapp3.1/ModelLayer.pdb
/backend/ModelLayer/obj/Debug/netcoreapp3.1/ModelLayer.dll
/backend/ModelLayer/obj/Debug/netcoreapp3.1/ModelLayer.csproj.FileListAbsolute.txt
/backend/RepositoryLayer/bin/Debug/netcoreapp3.1
/backend/RepositoryLayer/obj/Debug/netcoreapp3.1/RepositoryLayer.pdb
/backend/RepositoryLayer/obj/Debug/netcoreapp3.1/RepositoryLayer.dll
/backend/RepositoryLayer/obj/Debug/netcoreapp3.1/RepositoryLayer.csproj.FileListAbsolute.txt
/backend/RepositoryLayer/obj/Debug/netcoreapp3.1/RepositoryLayer.csproj.CopyComplete
/backend/ServiceLayer/bin/Debug/netcoreapp3.1
/backend/ServiceLayer/obj/Debug/netcoreapp3.1/ServiceLayer.csproj.FileListAbsolute.txt
/backend/ServiceLayer/obj/Debug/netcoreapp3.1/ServiceLayer.csproj.CopyComplete
/backend/ServiceLayer/obj/Debug/netcoreapp3.1/ServiceLayer.pdb
/backend/ServiceLayer/obj/Debug/netcoreapp3.1/ServiceLayer.dll
/backend/ServiceLayerTests/bin/Debug/netcoreapp3.1
/backend/ServiceLayerTests/obj/Debug/netcoreapp3.1/ServiceLayerTests.csproj.FileListAbsolute.txt
/backend/ServiceLayerTests/obj/Debug/netcoreapp3.1/ServiceLayerTests.csproj.CopyComplete
/backend/ServiceLayerTests/obj/Debug/netcoreapp3.1/ServiceLayerTests.pdb
/backend/ServiceLayerTests/obj/Debug/netcoreapp3.1/ServiceLayerTests.dll
/backend/WebApi/bin/Debug/netcoreapp3.1
/backend/WebApi/obj/Debug/netcoreapp3.1/WebApi.csproj.FileListAbsolute.txt
/backend/WebApi/obj/Debug/netcoreapp3.1/WebApi.csproj.CopyComplete
/backend/WebApi/obj/Debug/netcoreapp3.1/staticwebassets/WebApi.StaticWebAssets.xml
/backend/WebApi/obj/Debug/netcoreapp3.1/staticwebassets/WebApi.StaticWebAssets.Manifest.cache
/backend/WebApi/obj/Debug/netcoreapp3.1/WebApi.RazorTargetAssemblyInfo.cache
/backend/WebApi/obj/Debug/netcoreapp3.1/WebApi.pdb
/backend/WebApi/obj/Debug/netcoreapp3.1/WebApi.MvcApplicationPartsAssemblyInfo.cs
/backend/WebApi/obj/Debug/netcoreapp3.1/WebApi.MvcApplicationPartsAssemblyInfo.cache
/backend/WebApi/obj/Debug/netcoreapp3.1/WebApi.exe
/backend/WebApi/obj/Debug/netcoreapp3.1/WebApi.dll
/backend/RepositoryLayer/obj/Debug/netcoreapp3.1
/backend/ServiceLayer/obj/Debug/netcoreapp3.1
/backend/WebApi/obj/Debug/netcoreapp3.1
/backend/.vs/WebApi/v16
/backend/ModelLayer/obj/Debug/netcoreapp3.1
/backend/ServiceLayerTests/obj/Debug/netcoreapp3.1
/backend/.vs/WebApi/DesignTimeBuild
/backend/WebApi/wwwroot
