<mat-dialog-content>
    <h4>{{'event.sendInvitation' | translate}}</h4>
    <div>{{'event.inviteDescription' | translate}}</div>
    <div [formGroup]="textForm">
        <textarea class="area" formControlName="text"></textarea>
    </div>
</mat-dialog-content>
<mat-dialog-actions mat-dialog-actions align="end">
    <button mat-raised-button title="{{'common.cancel' | translate}}" (click)="sendMail(false)">
        {{'common.cancel' | translate}}
    </button>
    <button id="buttonSend" mat-raised-button color="primary" title="{{'common.send' | translate}}" [disabled]="!textForm.valid" (click)="sendMail(true)">
        {{'common.send' | translate}}
    </button>
</mat-dialog-actions>
