

  <div mat-dialog-title id="dataProtectionOfficeDisclaimer">
    <span id="title">{{'common.warning' | translate}}</span>
  </div>
  <div mat-dialog-content>
    {{'dpDisclaimer.noDp' | translate}}
    <br>
    {{'dpDisclaimer.noDp2' | translate}}
    </div>
  <div mat-dialog-actions>   
    
  <span class="fill-remaining-space"></span>
    <button id="ignoreButton" mat-raised-button [matDialogClose]="false" id="ignoreButton" >{{'dpDisclaimer.ignore' | translate}}</button>
    <button mat-raised-button (click)="onResolve()" color="primary" id="resolveButton">{{'dpDisclaimer.select' | translate}}</button>
  </div>