<div style="text-align:center">
    <h1>CRohM - Customer Relationship Management System</h1>
    <div>Kürzlich hinzugefügte Daten </div>
    <div class="row">
        <div class="column">
            <div class="spacer"></div>       
        </div>
        <div class="column">
            <mat-card *ngFor="let contact of contacts" class="example-card">
                <mat-card-header class="header">
                    <div mat-card-avatar class="header"></div>
                    <mat-card-title class="text">Kontakt</mat-card-title>
                    <mat-card-subtitle class="text">{{contact.preName + " " + contact.name}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="content">
                    <p>
                        {{contact.address.city}}
                    </p>
                    <p>
                        {{contact.contactPossibilities.phoneNumber}}
                    </p>
                    <p>
                        {{contact.contactPossibilities.mail}}
                    </p>
                </mat-card-content>
                <mat-card-actions class="actions">
                    <div class="buttonMargin">
                        <button class="button" mat-raised-button color="primary">Details anzeigen</button>
                    </div>
                    <div class="buttonMargin">
                        <button class="button" routerLink="contacts" mat-raised-button color="primary">Öffne Übersicht</button>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="column">
            <div class="spacer"></div>       
        </div>
        <div class="column">
            <mat-card *ngFor="let organization of organizations" class="example-card">
                <mat-card-header class="header">
                    <div mat-card-avatar class="header"></div>
                    <mat-card-title class="text">Organisation</mat-card-title>
                    <mat-card-subtitle class="text">{{organization.name + " " + organization.description}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="content">
                    <p>
                        {{organization.address.city}}
                    </p>
                    <p>
                        {{organization.contact.phoneNumber}}
                    </p>
                    <p>
                        {{organization.contact.mail}}
                    </p>
                </mat-card-content>
                <mat-card-actions class="actions">
                    <div class="buttonMargin">
                        <button class="button" mat-raised-button color="primary">Details anzeigen</button>
                    </div>
                    <div class="buttonMargin">
                        <button class="button" routerLink="organizations" mat-raised-button color="primary">Öffne Übersicht</button>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="column">
            <div class="spacer"></div>       
        </div>
    </div>
</div>