<div style="text-align:center">
    <h1>{{'home.title' | translate}}</h1>
    <div>{{'home.lastLogin1' | translate}} ({{loggedInUser}}) {{'home.lastLogin2' | translate}} {{lastLogin | date:'fullDate'}} {{'common.at' | translate}} {{lastLogin | date: 'mediumTime'}}{{'common.timeShort' | translate}}</div>
    <div>{{'home.recentlyAdded' | translate}}</div>
    <div class="row">
        <div class="column">
            <div class="spacer"></div>       
        </div>
        <div *ngIf="contacts.length > 0" class="column">
            <mat-card *ngFor="let contact of contacts" class="example-card">
                <small *ngIf="contact.created">
                    {{'home.createdBy' | translate}}
                </small>
                <small *ngIf="!contact.created">
                    {{'home.editedBy' | translate}}
                </small>
                <small>
                    {{contact.userName}}
                </small>
                <mat-card-header class="header">
                    <div mat-card-avatar class="header"></div>
                    <mat-card-title class="text">{{'contact.contact' | translate}}</mat-card-title>
                    <mat-card-subtitle class="text">{{contact.preName + " " + contact.name}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="content">
                    <p>
                        {{'contact.city' | translate}}: {{contact.address.city}}
                    </p>
                    <p>
                        {{'contact.phoneNumber' | translate}}: {{contact.contactPossibilities.phoneNumber}}
                    </p>
                    <p>
                        {{'contact.mail' | translate}}: {{contact.contactPossibilities.mail}}
                    </p>
                </mat-card-content>
                <mat-card-actions class="actions">
                    <button class="button" (click)="openContactDetails(contact.id)" mat-raised-button color="primary">{{'home.showDetails' | translate}}</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="column">
            <div class="spacer"></div>       
        </div>
        <div *ngIf="organizations.length > 0" class="column">
            <mat-card *ngFor="let organization of organizations" class="example-card">
                <small *ngIf="organization.created">
                    {{'home.createdBy' | translate}}
                </small>
                <small *ngIf="!organization.created">
                    {{'home.editedBy' | translate}}
                </small>
                <small>
                    {{organization.userName}}
                </small>
                <mat-card-header class="header">
                    <div mat-card-avatar class="header"></div>
                    <mat-card-title class="text">{{'organization.organization' | translate}}</mat-card-title>
                    <mat-card-subtitle class="text">{{organization.name + " " + organization.description}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="content">
                    <p>
                        {{'contact.city' | translate}}: {{organization.address.city}}
                    </p>
                    <p>
                        {{'contact.phoneNumber' | translate}}: {{organization.contact.phoneNumber}}
                    </p>
                    <p>
                        {{'contact.mail' | translate}}: {{organization.contact.mail}}
                    </p>
                </mat-card-content>
                <mat-card-actions class="actions">
                    <button class="button" (click)="openOrganizationDetails(organization.id)" mat-raised-button color="primary">{{'home.showDetails' | translate}}</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="column">
            <div class="spacer"></div>       
        </div>
        <div *ngIf="events.length > 0" class="column">
            <mat-card *ngFor="let event of events" class="example-card">
                <small *ngIf="event.created">
                    {{'home.createdBy' | translate}}
                </small>
                <small *ngIf="!event.created">
                    {{'home.editedBy' | translate}}
                </small>
                <small>
                    {{event.userName}}
                </small>
                <mat-card-header class="header">
                    <div mat-card-avatar class="header"></div>
                    <mat-card-title class="text">Veranstaltung</mat-card-title>
                    <mat-card-subtitle class="text">{{event.name + " Personen: " + event.contacts.length}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="content">
                    <p>
                        {{'common.date' | translate}}: {{event.date | date:'shortDate'}}
                    </p>
                    <p>
                        {{'common.startTime' | translate}}: {{event.starttime | date:'shortTime'}}
                    </p>
                    <p>
                        {{'common.endTime' | translate}}: {{event.endtime | date:'shortTime'}}
                    </p>
                </mat-card-content>
                <mat-card-actions class="actions">
                    <button class="button" (click)="openEventDetails(event.id)" mat-raised-button color="primary">{{'home.showDetails' | translate}}</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>