<mat-dialog-content>
    <div class="contactDetails" [formGroup]="organizationsForm">
        <div class="column">
            <div class="row">
                <div class="col-md-12">
                    <h5>
                        {{'common.overview' | translate}}
                    </h5>
                </div>
                <div class="col-md">
                    <mat-form-field>
                        <input [readonly]="true" matInput placeholder="{{'common.name' | translate}}" formControlName="name">
                    </mat-form-field>
                </div>
                <div class="col-md">
                    <mat-form-field>
                        <input [readonly]="true" matInput placeholder="{{'common.description' | translate}}" formControlName="description">
                    </mat-form-field>
                </div>
            </div>
            <div class="column" formGroupName="address">
                <div class="row">
                    <div class="col-md-12">
                        <h5>
                            {{'contact.address' | translate}}
                        </h5>
                    </div>
                    <div class="col-md">
                        <mat-form-field>
                            <input [readonly]="true" matInput placeholder="{{'contact.street' | translate}}" formControlName="street">
                        </mat-form-field>
                    </div>
                    <div class="col-md">
                        <mat-form-field>
                            <input [readonly]="true" matInput placeholder="{{'contact.streetNumber' | translate}}" formControlName="streetNumber">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <mat-form-field>
                            <input [readonly]="true" matInput placeholder="{{'contact.zipcode' | translate}}" formControlName="zipcode">
                        </mat-form-field>
                    </div>
                    <div class="col-md">
                        <mat-form-field>
                            <input [readonly]="true" matInput placeholder="{{'contact.city' | translate}}" formControlName="city">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <mat-form-field>
                            <input [readonly]="true" matInput placeholder="{{'contact.country' | translate}}" formControlName="country">
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="column" formGroupName="contact">
            <div class="row">
                <div class="col-md-12">
                    <h5>
                        {{'contact.contactPossibilities' | translate}}
                    </h5>
                </div>
                <div class="col-md">
                    <mat-form-field>
                        <input [readonly]="true" matInput placeholder="{{'contact.mail' | translate}}" formControlName="mail">
                    </mat-form-field>
                </div>
                <div class="col-md">
                    <mat-form-field>
                        <input [readonly]="true" matInput placeholder="{{'contact.phoneNumber' | translate}}" formControlName="phoneNumber">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <mat-form-field>
                        <input [readonly]="true" matInput placeholder="{{'contact.fax' | translate}}" formControlName="fax">
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="organization.contact.contactEntries.length > 0" class="col-md-12">
        <h5>{{'contact.contactPossibilities' | translate}}</h5>
        <mat-table #table [dataSource]="organization.contact.contactEntries">
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> {{'common.name' | translate}} </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.contactEntryName}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="kontakt">
                <mat-header-cell *matHeaderCellDef> {{'contact.contact' | translate}} </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.contactEntryValue}}
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumnsContactPossibilities"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumnsContactPossibilities;"></mat-row>
        </mat-table>
    </div>

    <div *ngIf="organization.employees.length > 0" class="col-md-12">
        <h5>{{'organization.employees' | translate}}</h5>
        <mat-table #table [dataSource]="organization.employees">
            <ng-container matColumnDef="vorname">
                <mat-header-cell *matHeaderCellDef> {{'contact.firstName' | translate}} </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.preName}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> {{'contact.lastName' | translate}} </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.name}}
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumnsEmployees"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumnsEmployees;"></mat-row>
        </mat-table>
    </div>

    <div *ngIf="tags.length > 0" class="col-md-12">
        <h5>{{'common.tags' | translate}}</h5>
        <mat-chip-list #chipList>
            <mat-chip *ngFor="let item of tags">
                {{ item.name }}
            </mat-chip>
        </mat-chip-list>
    </div>


    <mat-expansion-panel *ngIf="history.length > 0" togglePosition="after" class="extensionPanel before">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h5>{{'common.history' | translate}}</h5>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-table #table [dataSource]="history">
            <ng-container matColumnDef="icon">
                <mat-header-cell *matHeaderCellDef> Typ </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-icon *ngIf="eventParticipated(element)">check_box</mat-icon>
                    <mat-icon *ngIf="eventNotParticipated(element)">check_box_outline_blank</mat-icon>
                    <mat-icon *ngIf="isLocalPhone(element)">local_phone</mat-icon>
                    <mat-icon *ngIf="isNote(element)">note</mat-icon>
                    <mat-icon *ngIf="isMail(element)">mail</mat-icon>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="datum">
                <mat-header-cell *matHeaderCellDef> {{'common.date' | translate}} </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.date | date}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> {{'common.topic' | translate}} </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.name}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="kommentar">
                <mat-header-cell *matHeaderCellDef> {{'common.comment' | translate}} </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.comment}}
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumnsHistory"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumnsHistory;"></mat-row>
        </mat-table>
        <mat-paginator (page)="onPaginationChangedHistory($event)" [pageSizeOptions]="[5, 10, 20]" [length]="historyPaginationLength"></mat-paginator>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="modifications.length > 0" togglePosition="after" class="extensionPanel">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h5>{{'common.dataChanges' | translate}}</h5>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-table #table [dataSource]="modifications">
            <ng-container matColumnDef="datum">
                <mat-header-cell *matHeaderCellDef> {{'common.date' | translate}} </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.dateTime | date}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="bearbeiter">
                <mat-header-cell *matHeaderCellDef> {{'common.editor' | translate}} </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.user?.firstName + " " + element.user?.lastName}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="feldname">
                <mat-header-cell *matHeaderCellDef> {{'common.attribute' | translate}} </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.propertyName}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="alterWert">
                <mat-header-cell *matHeaderCellDef> {{'common.oldValue' | translate}} </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.oldValue}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="neuerWert">
                <mat-header-cell *matHeaderCellDef> {{'common.newValue' | translate}} </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.actualValue}}
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumnsDataChangeHistory"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumnsDataChangeHistory;"></mat-row>
        </mat-table>
        <mat-paginator (page)="onPaginationChangedModification($event)" [pageSizeOptions]="[5, 10, 20]" [length]="modificationsPaginationLength"></mat-paginator>
    </mat-expansion-panel>
    <div mat-dialog-actions align="end">
        <button class="contactDetails" mat-raised-button color="primary" title="{{'common.cancel' | translate}}" type="submit"
        (click)="dialogRef.close()">{{'common.cancel' | translate}}</button>
    </div>
</mat-dialog-content>