<mat-dialog-content>
    <div class="contactDetails" [formGroup]="organizationsForm">
        <div class="column">
            <div class="row">
                <div class="col-md-12">
                    <h5>
                        Übersicht
                    </h5>
                </div>
                <div class="col-md-3">
                    <mat-form-field>
                        <input [readonly]="true" matInput placeholder="Name" formControlName="name">
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field>
                        <input [readonly]="true" matInput placeholder="Beschreibung" formControlName="description">
                    </mat-form-field>
                </div>
            </div>

            <div class="column" formGroupName="address">
                <div class="row" >
                    <div class="col-md-12">
                        <h5>
                            Adressdaten
                        </h5>
                    </div>
                    <div class="col-md">
                        <mat-form-field>
                            <input [readonly]="true" matInput placeholder="Strasse" formControlName="street">
                        </mat-form-field>
                    </div>
                    <div class="col-md">
                        <mat-form-field>
                            <input [readonly]="true" matInput placeholder="Hausnummer" formControlName="streetNumber">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <mat-form-field>
                            <input [readonly]="true" matInput placeholder="Stadt" formControlName="city">
                        </mat-form-field>
                    </div>
                    <div class="col-md">
                        <mat-form-field>
                            <input [readonly]="true" matInput placeholder="PLZ" formControlName="zipcode">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <mat-form-field>
                            <input [readonly]="true" matInput placeholder="Land" formControlName="country">
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="column" formGroupName="contact">
            <div class="row">
                <div class="col-md-12">
                    <h5>
                        Kontaktmöglichkeiten
                    </h5>
                </div>
                <div class="col-md">
                    <mat-form-field>
                        <input [readonly]="true" matInput placeholder="E-Mail" formControlName="mail">
                    </mat-form-field>
                </div>
                <div class="col-md">
                    <mat-form-field>
                        <input [readonly]="true" matInput placeholder="Telefonnummer" formControlName="phoneNumber">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <mat-form-field>
                        <input [readonly]="true" matInput placeholder="Faxnummer" formControlName="fax">
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="contactPossibilitiesEntries.length > 0" class="col-md-12">
        <h5>Weitere Kontaktmöglichkeiten</h5>
        <mat-table #table [dataSource]="contactPossibilitiesEntries">
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.contactEntryName}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="kontakt">
                <mat-header-cell *matHeaderCellDef> Kontakt </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.contactEntryValue}}
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumnsContactPossibilities"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumnsContactPossibilities;"></mat-row>
        </mat-table>
    </div>

    <div *ngIf="employees.length > 0" class="col-md-12">
        <h5>Mitarbeiter</h5>
        <mat-table #table [dataSource]="employees">
            <ng-container matColumnDef="vorname">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.preName}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.name}}
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumnsEmployees"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumnsEmployees;"></mat-row>
        </mat-table>
    </div>   
    <div *ngIf="history.length > 0" class="col-md-12">
        <h5>Historie</h5>
        <mat-table #table [dataSource]="history">
            <ng-container matColumnDef="icon">
                <mat-header-cell *matHeaderCellDef> Typ </mat-header-cell>
                <mat-cell *matCellDef="let element"> 
                    <mat-icon *ngIf="isLocalPhone(element)">local_phone</mat-icon>
                    <mat-icon *ngIf="isNote(element)">note</mat-icon>
                    <mat-icon *ngIf="isMail(element)">mail</mat-icon>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="datum">
                <mat-header-cell *matHeaderCellDef> Datum </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{getDate(element.date)}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Thema </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.name}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="kommentar">
                <mat-header-cell *matHeaderCellDef> Kommentar </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.comment}}
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumnsHistory"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumnsHistory;"></mat-row>
        </mat-table>
    </div>
	
	<div *ngIf="dataHistory.length > 0" class="col-md-12">
        <h5>Datenveränderungen</h5>
        <mat-table #table [dataSource]="dataHistory">
            <ng-container matColumnDef="datum">
                <mat-header-cell *matHeaderCellDef> Datum </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{getDate(element.dateTime)}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="bearbeiter">
                <mat-header-cell *matHeaderCellDef> Bearbeiter </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.user?.firstName + " " + element.user?.lastName}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="feldname">
                <mat-header-cell *matHeaderCellDef> Eigenschaft </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.propertyName}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="alterWert">
                <mat-header-cell *matHeaderCellDef> Alter Wert </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.oldValue}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="neuerWert">
                <mat-header-cell *matHeaderCellDef> Neuer Wert </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.actualValue}}
                </mat-cell>
            </ng-container>
			<mat-header-row *matHeaderRowDef="displayedColumnsDataChangeHistory"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumnsDataChangeHistory;"></mat-row>
		</mat-table>
    </div>
    <div *ngIf="tags.length > 0" class="col-md-12">
        <h5>Tags</h5>
        <mat-chip-list #chipList>
            <mat-chip *ngFor="let item of tags">
                {{ item.name }}
            </mat-chip>
        </mat-chip-list>
    </div>
    <button class="contactDetails" mat-raised-button color="primary" title="Schließen" type="submit" (click)="closeDialog()">Schließen</button>
</mat-dialog-content>