<div class="margin" *ngIf="isApproved()">
    <h1> Herzlich Willkommen,</h1>
    <p> vielen Dank, dass Sie der Verarbeitung Ihrer Daten zugestimmt haben.</p>
    <p>&nbsp;</p>
    <p> Mit freundlichen Gr&uuml;&szlig;en,</p>
    <p> Ihr Hochschul-Team</p>
    <p>&nbsp;</p>
    <p>-----------------------------------------------------------------------------------</p>
    <p>&nbsp;</p>
    <h1> Welcome,</h1>
    <p> thank you for your consent to the processing of your data.</p>
    <p>&nbsp;</p>
    <p> Best regards,</p>
    <p> your university team</p>
    <p>&nbsp;</p>
</div>

<div class="margin" *ngIf="isAlreadyApprovedOrDeleted()">
    <h1> Herzlich Willkommen,</h1>
    <p> der Verarbeitung wurde bereits zugestimmt oder es ist eine Frist von 30 Tagen bereits abgelaufen.</p>
    <p> Setzen Sie sich bitte mit Ihrer Kontaktperson der Hochschule N&uuml;rnberg in Verbindung,</p>
    <p> um eine erneute Erfassung in unserem System anzufragen, fall Sie noch nicht zugestimmt haben.</p>
    <p>&nbsp;</p>
    <p> Mit freundlichen Gr&uuml;&szlig;en,</p>
    <p> Ihr Hochschul-Team</p>
    <p>&nbsp;</p>
    <p>-----------------------------------------------------------------------------------</p>
    <p>&nbsp;</p>
    <h1> Welcome,</h1>
    <p> the processing has already been approved or a period of 30 days has already expired.</p>
    <p> Please get in touch with your contact person at the N&uml;rnmberg University of Applied Sciences </p>
    <p> to request a new entry in our system, if you have not yet agreed.</p>
    <p>&nbsp;</p>
    <p> Best regards,</p>
    <p> your university team</p>
    <p>&nbsp;</p>
</div>

<div class="margin" *ngIf="isInvalid()">
    <h1> Herzlich Willkommen,</h1>
    <p> Sie haben offensichtlich einen ung&uuml;ltigen Link zur Speicherung Ihrer Daten aufgerufen.</p>
    <p> Setzen Sie sich bitte mit Ihrer Kontaktperson der Hochschule N&uuml;rnberg in Verbindung,</p>
    <p> um eine erneute Erfassung in unserem System anzufragen, fall Sie Interesse daran haben.</p>
    <p>&nbsp;</p>
    <p> Mit freundlichen Gr&uuml;&szlig;en,</p>
    <p> Ihr Hochschul-Team</p>
    <p>&nbsp;</p>
    <p>-----------------------------------------------------------------------------------</p>
    <p>&nbsp;</p>
    <h1> Welcome,</h1>
    <p> you have accessed an invalid link to approve your data.</p>
    <p> if you are interested, please get in touch with your contact person at N&uuml;remberg University </p>
    <p> of Applied Sciences to request a new entry in our system.</p>
    <p>&nbsp;</p>
    <p> Best regards,</p>
    <p> your university team</p>
    <p>&nbsp;</p>
</div>

<div class="margin" *ngIf="isError()">
    <h1> Herzlich Willkommen,</h1>
    <p> Leider konnten Ihre Daten nicht korrekt abgespeichert werden.</p>
    <p> Setzen Sie sich bitte mit Ihrer Kontaktperson der Hochschule N&uuml;rnberg in Verbindung,</p>
    <p> um eine erneute Erfassung in unserem System anzufragen.</p>
    <p>&nbsp;</p>
    <p> Mit freundlichen Gr&uuml;&szlig;en,</p>
    <p> Ihr Hochschul-Team</p>
    <p>&nbsp;</p>
    <p>-----------------------------------------------------------------------------------</p>
    <p>&nbsp;</p>
    <h1> Welcome,</h1>
    <p> unfortunately your data could not be validated correctly.</p>
    <p> Please get in touch with your contact person at N&uuml;remberg </p>
    <p> University of Applied Sciences to request a new entry in our system.</p>
    <p>&nbsp;</p>
    <p> Best regards,</p>
    <p> your university team</p>
    <p>&nbsp;</p>
</div>