<mat-toolbar>
    <mat-toolbar-row class="tabrow">
        <span class="spacer"></span>
        <a *ngIf="selectedCheckBoxList.length > 0" (click)="createEvent()" type="button">
            <mat-icon color="primary" title="{{'event.create' | translate}}" class="iconMargin">event</mat-icon>
        </a>
        <app-tags-filter></app-tags-filter>
        <mat-form-field>
            <mat-label>{{'common.search' | translate}}</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="{{'organization.organizations' | translate}}...">
        </mat-form-field>
        <button id="addDummy" class="button" *ngIf="isAdminUserLoggedIn" [disabled]="!permissionAdd" mat-raised-button color="primary"
            title="{{'organization.addDummy' | translate}}" (click)="addDummyOrganization()">
            <mat-icon>add</mat-icon> {{'organization.addDummy' | translate}}
        </button>
        <button class="button" button="submit" [disabled]="!permissionAdd" mat-mini-fab color="primary"
            (click)="openAddDialog()">
            <mat-icon>add</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<div fxLayout="column" fxLayoutGap="100px">
    <mat-table id="tableOrganization" #table [dataSource]="dataSource" (mouseleave)="mouseLeave()">
        <ng-container matColumnDef="Icon">
            <mat-header-cell *matHeaderCellDef>
                <mat-checkbox class="check"  color="primary" [checked]="isAllSelected" (change)="changeSelectionAll()"></mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let element" (mouseover)="mouseOver(element.id)">
                <div *ngIf="!isSelectedRow(element.id)" class="selection">
                    {{element.name.substring(0,2)}}
                </div>
                <mat-checkbox color="primary" class="checkBox" *ngIf="isSelectedRow(element.id)"
                    [checked]="isSelectionChecked(element.id)" (change)="onCheckBoxChecked(element.id)">
                </mat-checkbox>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Name">
            <mat-header-cell *matHeaderCellDef> {{'common.name' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let element" (mouseover)="mouseOver(element.id)"> {{element.name}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Beschreibung">
            <mat-header-cell *matHeaderCellDef> {{'common.description' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let element" (mouseover)="mouseOver(element.id)"> {{element.description}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="E-Mail">
            <mat-header-cell *matHeaderCellDef> {{'contact.mail' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let element" (mouseover)="mouseOver(element.id)"> {{element.contact.mail}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Telefonnummer">
            <mat-header-cell *matHeaderCellDef> {{'contact.phoneNumber' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let element" (mouseover)="mouseOver(element.id)"> {{element.contact.phoneNumber}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="PLZ">
            <mat-header-cell *matHeaderCellDef> {{'contact.zipcode' | translate}}  </mat-header-cell>
            <mat-cell *matCellDef="let element" (mouseover)="mouseOver(element.id)"> {{element.address.zipcode}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Stadt">
            <mat-header-cell *matHeaderCellDef> {{'contact.city' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let element" (mouseover)="mouseOver(element.id)"> {{element.address.city}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Zugehörige">
            <mat-header-cell *matHeaderCellDef> {{'organization.employees' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let element" (mouseover)="mouseOver(element.id)"> {{getEmployees(element.employees)}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Action">
            <mat-header-cell mat-header-cell *matHeaderCellDef> {{'common.action' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let element" fxLayoutGap="5px" (mouseover)="mouseOver(element.id)">
                <button type="button" mat-icon-button [disabled]="!permissionModify"
                    (click)="openEditDialog(element.id)" color="primary" class="editOrganization">
                    <mat-icon title="{{'organization.edit' | translate}}" class="icon">edit</mat-icon>
                </button>
                <button type="button" mat-icon-button [disabled]="!permissionModify" (click)="openInfo(element.id)" color="primary">
                    <mat-icon title="{{'organization.showInfo' | translate}}" class="icon">info</mat-icon>
                </button>
                <button type="button" [matMenuTriggerFor]="menu">
                    <mat-icon color="primary" class="icon">list</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button type="button" mat-icon-button [disabled]="!permissionAddHistory" (click)="addNote(element.id)"
                        color="primary">
                        <mat-icon title="{{'common.addHistory' | translate}}" class="icon">note_add</mat-icon>
                    </button>
                    <button type="button" mat-icon-button [disabled]="!permissionDelete" (click)="deleteOrganization(element.id)"
                        color="primary">
                        <mat-icon title="{{'organization.delete' | translate}}" class="icon">delete</mat-icon>
                    </button>
                </mat-menu>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
    </mat-table>
</div>
<br>
