<mat-toolbar>
    <mat-toolbar-row>
        <span>Organisationen</span>
        <span class="spacer"></span>
        <mat-form-field>
            <mat-label>Suche</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Kontakte...">
        </mat-form-field>
        <button class="button" *ngIf="isAdminUserLoggedIn" mat-raised-button color="primary" title="Dummy Organisation hinzufügen" (click)="addDummyOrganization()"> 
            <mat-icon>add</mat-icon> Dummy Organisation hinzufügen
        </button>
        <button class="button" button="submit" mat-mini-fab color="primary" (click)="openAddDialog()">
            <mat-icon>add</mat-icon> 
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<div fxLayout="column" fxLayoutGap="100px">
    <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="Name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Beschreibung">
            <mat-header-cell *matHeaderCellDef> Beschreibung </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Strasse">
            <mat-header-cell *matHeaderCellDef> Strasse </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.address.street}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Hausnummer">
            <mat-header-cell *matHeaderCellDef> Hausnummer </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.address.streetNumber}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="PLZ">
            <mat-header-cell *matHeaderCellDef> PLZ </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.address.zipcode}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Stadt">
            <mat-header-cell *matHeaderCellDef> Stadt </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.address.city}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Land">
            <mat-header-cell *matHeaderCellDef> Land </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.address.country}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Telefonnummer">
            <mat-header-cell *matHeaderCellDef> Telefonnummer </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.contact.phoneNumber}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="E-Mail">
            <mat-header-cell *matHeaderCellDef> E-Mail </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.contact.mail}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Faxnummer">
            <mat-header-cell *matHeaderCellDef> Faxnummer </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.contact.fax}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Zugehörige">
            <mat-header-cell *matHeaderCellDef> Zugehörige </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-form-field>
                    <mat-label>Zugehörige</mat-label>
                    <mat-select [(ngModel)]="element.employees">
                        <mat-option disabled *ngFor="let employee of element.employees">
                            {{employee.preName + ' ' + employee.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Action">
            <mat-header-cell mat-header-cell *matHeaderCellDef> Aktion </mat-header-cell>
            <mat-cell *matCellDef="let element" fxLayoutGap="5px">
                <a (click)="openEditDialog(element.id)" type="button">
                    <mat-icon color="primary" class="icon">edit</mat-icon>
                </a>
                <a (click)="openInfo(element.id)" type="button">
                    <mat-icon color="primary" title="Organisationsinformationen anzeigen" class="icon">list</mat-icon>
                </a>
                <a (click)="addNote(element.id)" type="button">
                    <mat-icon color="primary" title="Historieneintrag hinzufügen" class="icon">note_add</mat-icon>
                </a>
                <a (click)="deleteOrganization(element.id)" type="button">
                    <mat-icon color="primary" class="icon">delete</mat-icon>
                </a>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
    </mat-table>
</div>
<br>
