<div class="column" style="max-width: 1200px; overflow: auto">
    <ngx-charts-bar-vertical-2d class="margin"
        [view]="view"
        [results]="visibleData"
        [gradient]="true"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxisLabel]="xLabel"
        [yAxisLabel]="yLabel"
        [legendTitle]="legendLabel">
    </ngx-charts-bar-vertical-2d>
    <div *ngIf="showDates" class="col-md-3">
        <mat-form-field>
            <input matInput [matDatepicker]="pickera" placeholder="Startdatum"
                (dateChange)="addEventStart('change', $event)">
            <mat-datepicker-toggle matSuffix [for]="pickera"></mat-datepicker-toggle>
            <mat-datepicker #pickera></mat-datepicker>
        </mat-form-field>
    </div>
    <div *ngIf="showDates" class="col-md-3">
        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Enddatum"
                (dateChange)="addEventEnd('change', $event)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
</div>