<div class="eventsAdd" [formGroup]="oppoSuitsForm">
    <div class="column">
        <div class="col-md-12">
            <h3>
            	 Historieneintrag hinzufügen
            </h3>
        </div>
        <div class="col-md-12">
        <mat-form-field>
            <mat-label>Historieneintragstyp wählen</mat-label>
            <mat-select formControlName="type" class="dateClass">
                <mat-option [value]="suit" *ngFor="let suit of types">{{suit}}</mat-option>
            </mat-select>
        </mat-form-field>
        </div>
        <div class="col-md-12">
            <mat-form-field>
                <input matInput class="dateClass" matInput type="date" placeholder="Datum" formControlName="date">
            </mat-form-field>
        </div>
        <div class="col-md-12">
            <mat-form-field>
                <input class="dateClass" matInput matInput placeholder="Thema" formControlName="information">
            </mat-form-field>
        </div>
        <div class="col-md-12">
            <mat-form-field>
                <textarea class="dateClass" matInput
                cdkTextareaAutosize
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"
                formControlName="comment"
                placeholder="Kommentar"></textarea>
            </mat-form-field>
        </div>
    </div>
    <button class="margin" [disabled]="!oppoSuitsForm.valid" title="Speichern" mat-raised-button color="primary" (click)="saveHistory()">Speichern</button>
    <button class="margin" mat-raised-button (click)="close()" title="Schließen">Schließen</button>
</div>