<mat-dialog-content>
    <div class="eventsAdd" [formGroup]="eventsForm">
        <div class="column">
            <div class="col-md-12">
                <h3>
                    Veranstaltung bearbeiten
                </h3>
            </div>
            <div class="col-md-3">
                <mat-form-field>
                    <input matInput placeholder="Bezeichnung" formControlName="name">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field>
                    <input matInput [matDatepicker]="picker1" placeholder="Angular forms" formControlName="date">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field>
                    <input type="time" matInput placeholder="Uhrzeit" formControlName="time">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field>
                    <input type="number" matInput placeholder="Dauer in Stunden" formControlName="duration">
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="text">
            Eingeladen 
        </div>
        <div class="text">
            Hat teilgenommen 
        </div>
        <div class="text">
            Teilnehmer
        </div>
    </div>
    <div class="row">
        <mat-chip-list id="invitationList" class="list" aria-orientation="vertical" #chipList>
            <mat-chip *ngFor="let item of selectedItems">
                <mat-checkbox class="checkBox" [disabled]="true" [checked]="item.wasInvited">
                </mat-checkbox>
            </mat-chip>
        </mat-chip-list>
        <mat-chip-list class="secondList" aria-orientation="vertical" #chipList>
            <mat-chip *ngFor="let item of selectedItems" [selectable]="selectable">
                <mat-checkbox class="checkBoxb" [checked]="item.participated" (change)="toggleParticipated(item)">
                </mat-checkbox>
                {{ item.preName + ' ' + item.name }}
            </mat-chip>
            <input id="textInput" class="autoComplete" type="text" #inputTrigger placeholder="Kontakte/Organisationen einladen" matInput [matAutocomplete]="autoComplete" [formControl]="itemControl"
            [matChipInputFor]="chipList">
        </mat-chip-list>
        <mat-autocomplete #autoComplete="matAutocomplete">
            <mat-option>
                <mat-checkbox id="contactInput" [checked]="isAllSelected" (change)="toggleSelectAll()" (click)="$event.stopPropagation()">
                        Alle selektieren
                </mat-checkbox>
            </mat-option>
            <mat-option *ngFor="let item of filteredItems" [value]="selectedItems">
                <div (click)="optionClicked($event, item);">
                    <mat-checkbox [checked]="item.selected" (change)="toggleSelection(item)" (click)="$event.stopPropagation()">
                        {{ item.preName + ' ' + item.name }}
                    </mat-checkbox>
                </div>
            </mat-option>
        </mat-autocomplete>
    </div>
    <mat-chip-list class="margin" #chipList>
        <mat-chip 
                (keyup.backspace)="removeTag()" 
                *ngFor="let item of selectedTags" 
                [selectable]="selectableTag"
                [removable]="removable"
                (removed)="remove(item)">
                {{ item.name }}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input 
                placeholder="Neuer tag..." 
                #tagInput
                [matAutocomplete]="auto"
                #inputTrigger 
                [matChipInputFor]="chipList" 
                [formControl]="tagsControl"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (keyup.enter)="addTag($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let item of filteredTagsObservable | async" [value]="item" >
            {{item}}
        </mat-option>
    </mat-autocomplete>
</mat-dialog-content>
<mat-dialog-actions mat-dialog-actions align="end">
    <div class="column">
        <div mat-dialog-actions align="end" class="marginTop">
            <button id="invitationButton" mat-raised-button color="primary" title="Einladung" (click)="callInvitation()">
                Einladung
            </button>
        </div>
        <div mat-dialog-actions align="end" class="marginTop">
            <button mat-raised-button color="primary" title="Verwerfen" (click)="close()">
                Verwerfen
            </button>
                    <button mat-raised-button color="primary" title="Speichern" type="submit" [disabled]="!eventsForm.valid" (click)="saveValues()">
                Speichern
            </button>
        </div>
    </div>
</mat-dialog-actions>