    <div class="eventsAdd" [formGroup]="eventsForm">
        <div class="column">
            <div class="col-md-12">
                <h3>
                    {{'event.edit' | translate}}
                </h3>
            </div>
            <div class="col-md-3">
                <mat-form-field>
                    <input id="eventName" matInput placeholder="{{'common.label' | translate}}" formControlName="name">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field>
                    <textarea matInput placeholder="{{'common.description' | translate}}" formControlName="description"></textarea>
                </mat-form-field>
            </div>    
            <div class="col-md-3">
                <mat-form-field>
                    <input matInput [matDatepicker]="picker1" placeholder="{{'common.date' | translate}}" formControlName="date">
                        <mat-datepicker-toggle class="datum" matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker class="datum" #picker1></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field>
                    <input type="time" matInput placeholder="{{'common.startTime' | translate}}" formControlName="startTime">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field>
                    <input type="time" matInput placeholder="{{'common.endTime' | translate}}" formControlName="endTime">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field>
                    <input type="text" matInput placeholder="{{'event.location' | translate }}" formControlName="location">
                </mat-form-field>
            </div>    
        </div>
    </div>
    <div class="col-md-12">
        <h3>
            {{'event.participant' | translate}} 
        </h3>
    </div>
    <div class="row">
        <div class="text">
            {{'common.name' | translate}} 
        </div>
        <div class="text">
            {{'event.state' | translate}} 
        </div>
        <div *ngIf="showParticipated()" class="text">
            {{'event.participated' | translate}} 
        </div>
    </div>
    <div class="row">
        <mat-chip-list id="invitationList" class="list" aria-orientation="vertical" #chipList>
            <mat-chip class="firstObjects" *ngFor="let item of selectedItems">
                {{ item.preName + ' ' + item.name }}
                <mat-icon (click)="toggleSelection(item)" matChipRemove>cancel</mat-icon>
            </mat-chip>
        </mat-chip-list>
        <mat-chip-list id="invitationList" class="list" aria-orientation="vertical" #chipList>
            <mat-chip class="secondObjects" [ngClass]="{'secondObjectsNear': item.eventStatus == 0}" *ngFor="let item of selectedItems">
                {{getEventState(item.eventStatus)}}
            </mat-chip>
        </mat-chip-list>
        <mat-chip-list *ngIf="showParticipated()" class="thirdList" aria-orientation="vertical" #chipList>
            <mat-chip class="checkboxobjects" *ngFor="let item of selectedItems" [selectable]="selectable">
                <mat-checkbox [disabled]="!isItemConditionOk(item.eventStatus)" color="primary" class="checkBoxb" [checked]="item.participated" (change)="toggleParticipated(item)">
                </mat-checkbox>
            </mat-chip>
        </mat-chip-list>
    </div>
    <div class="margin">
        <mat-chip-list class="secondList" aria-orientation="vertical" #chipList>
            <input id="textInput" class="autoComplete" type="text" #inputTrigger placeholder="{{'event.invite' | translate}}" matInput [matAutocomplete]="autoComplete" [formControl]="itemControl"
            [matChipInputFor]="chipList">
        </mat-chip-list>
        <mat-autocomplete #autoComplete="matAutocomplete">
            <mat-option>
                <mat-checkbox color="primary" id="contactInput" [checked]="isAllSelected" (change)="toggleSelectAll()" (click)="$event.stopPropagation()">
                        {{'common.selectAll' | translate}}
                </mat-checkbox>
            </mat-option>
            <mat-option *ngFor="let item of filteredItems" [value]="selectedItems">
                <div (click)="optionClicked($event, item);">
                    <mat-checkbox color="primary" [checked]="item.selected" (change)="toggleSelection(item)" (click)="$event.stopPropagation()">
                        {{ item.preName + ' ' + item.name }}
                    </mat-checkbox>
                </div>
            </mat-option>
        </mat-autocomplete>
    </div>
    <div class="col-md-12">
        <h3>
            Tags
        </h3>
    </div>
    <div class="marginTags">
        <mat-chip-list #chipList>
            <mat-chip class="my-chip"
                    (keyup.backspace)="removeTag()" 
                    *ngFor="let item of selectedTags" 
                    [selectable]="selectableTag"
                    [removable]="removable"
                    (removed)="remove(item)">
                    {{ item.name }}
                    <mat-icon class="removeIcon" matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input 
                    placeholder="{{'common.newTag' | translate}}..." 
                    #tagInput
                    [matAutocomplete]="auto"
                    #inputTrigger 
                    [matChipInputFor]="chipList" 
                    [formControl]="tagsControl"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (keyup.enter)="addTag($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let item of filteredTagsObservable | async" [value]="item" >
                {{item}}
            </mat-option>
        </mat-autocomplete>
    </div>
<mat-dialog-actions mat-dialog-actions align="end">
    <div class="column">
        <div mat-dialog-actions align="end" class="marginTop">
            <button mat-raised-button color="primary" title="{{'common.cancel' | translate}}" (click)="close()">
                {{'common.cancel' | translate}}
            </button>
                    <button mat-raised-button color="primary" title="{{'common.save' | translate}}" type="submit" [disabled]="!formIsValid()" (click)="saveValues()">
                {{'common.save' | translate}}
            </button>
        </div>
    </div>
</mat-dialog-actions>