<div class="eventsAdd" [formGroup]="eventsForm">
    <div class="column">
        <div class="col-md-12">
            <h3>
                {{'event.add' | translate}}
            </h3>
        </div>
        <div class="col-md-3">
            <mat-form-field>
                <input matInput placeholder="{{'common.label' | translate}}" formControlName="name">
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field>
                <textarea matInput placeholder="{{'common.description' | translate }}" formControlName="description"></textarea>
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="{{'common.date' | translate}}" formControlName="date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field>
                <input matInput type="time" placeholder="{{ 'common.startTime' | translate }}" formControlName="startTime"/>
              </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field>
                <input matInput type="time" placeholder="{{ 'common.endTime' | translate }}" formControlName="endTime"/>
              </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field>
                <input type="text" matInput placeholder="{{'common.location' | translate }}" formControlName="location">
            </mat-form-field>
        </div>

    </div>

<mat-chip-list #chipList>
    <mat-chip *ngFor="let item of selectedItems" [selectable]="selectable">
        {{ item.preName + ' ' + item.name }}
    </mat-chip>
    <input type="text" #inputTrigger placeholder="{{'event.invite' | translate}}" matInput [matAutocomplete]="autoComplete" [formControl]="itemControl"
    [matChipInputFor]="chipList">
</mat-chip-list>

<mat-autocomplete #autoComplete="matAutocomplete">
    <mat-option>
        <mat-checkbox [checked]="isAllSelected" (change)="toggleSelectAll()" (click)="$event.stopPropagation()">
                {{'common.selectAll' | translate}}
        </mat-checkbox>
  </mat-option>
    <mat-option *ngFor="let item of filteredItems" [value]="selectedItems">
        <div (click)="optionClicked($event, item);">
            <mat-checkbox [checked]="item.selected" (change)="toggleSelection(item)" (click)="$event.stopPropagation()">
                {{ item.preName + ' ' + item.name }}
            </mat-checkbox>
        </div>
    </mat-option>
</mat-autocomplete>
<div mat-dialog-actions align="end" class="margin">
    <button mat-raised-button color="primary" title="{{'common.cancel' | translate}}" (click)="exit()">
        {{'common.cancel' | translate}}
    </button>
    <button mat-raised-button color="primary" title="{{'common.save' | translate}}" type="submit" [disabled]="!formIsValid()" (click)="saveValues()">
        {{'common.save' | translate}}
    </button>    
</div>