/// <summary>
/// RAM: 80%
/// </summary>
<mat-tab-group backgroundColor="primary" (selectedIndexChange)="tabChange($event)">
  <mat-tab id="tabObjectCreation" label="{{'statistic.created' | translate}}">
    <div *ngIf="selectedIndex === 0">
      <app-objects-creation></app-objects-creation>
    </div>
  </mat-tab>
  <mat-tab id="tabEventParticipants" label="{{'statistic.participants' | translate}}">
    <div *ngIf="selectedIndex === 1">
      <app-event-visits></app-event-visits>
    </div>
  </mat-tab>
  <mat-tab id="tabTags" label="{{'common.tags' | translate}}">
    <div *ngIf="selectedIndex === 2">
      <app-tags></app-tags>
    </div>
  </mat-tab>
</mat-tab-group>
