/// <summary>
/// RAM: 20%
/// </summary>
<div fxLayout="row" fxLayoutAlign="center none">
    <mat-card fxFlex="40%" fxFlex.lt-lg="90%" class="centered">
        <mat-card-title>Login</mat-card-title>
        <mat-card-content fxLayout="column">
            <mat-form-field>
                <input (keyup.enter)="loginWithProof()" matInput type="text" [formControl]="userNameOrEmail" id="login-user" placeholder="Benutzername oder Email">
            </mat-form-field>
            <div class="row">
                <mat-form-field fxFlex="90%" fxFlex.lt-lg="90%" class="margin">
                    <input *ngIf="!fieldTextType" (keyup.enter)="loginWithProof()" matInput type="password" [formControl]="password" id="login-password" placeholder="Passwort">
                    <input *ngIf="fieldTextType" (keyup.enter)="loginWithProof()" matInput type="text" [formControl]="password" placeholder="Passwort">
                </mat-form-field>
                <a type="button" (click)="toggleFieldTextType()">
                    <mat-icon *ngIf="fieldTextType" color="primary" class="icon">visibility</mat-icon>
                    <mat-icon *ngIf="!fieldTextType" color="primary" class="icon">visibility_off</mat-icon>
                </a> 
            </div>
            <mat-error id="login-error" *ngIf="errorText">{{ errorText }}</mat-error>
        </mat-card-content>
        <mat-card-actions>
            <button [disabled]="userNameOrEmail.invalid || password.invalid" (click)="login()" mat-flat-button
                color="primary" id="login-button">
                Login </button>
        </mat-card-actions>
    </mat-card>
</div>