/// <summary>
/// RAM: 60%
/// </summary>
<div>
    <app-vertical-grouped-bar-chart></app-vertical-grouped-bar-chart>
    <div class="margin">
        {{'statistic.numberInvited' | translate}} {{totalInvitations}}
    </div>
    <div class="margin">
        {{'statistic.numberAgreed' | translate}} {{totalAgrees}}
    </div>
    <div class="margin">
        {{'statistic.numberParticipants' | translate}} {{totalParticipations}}
    </div>
    <div class="margin">
        {{'statistic.percentParticipated' | translate}} {{relation | number : '.2-2'}}%
    </div>
</div>