<mat-dialog-content id=change-password-form>
    <div [formGroup]="formGroup">
        <div class="column">
            <div class="col-md-12">
                <h3>
                    {{'settings.setPassword' |  translate}} {{text}}
                </h3>
            </div>
            <div class="col-md-3">
                <mat-form-field>
                    <input type="password" matInput placeholder="Passwort" formControlName="password" id=change-password>
                </mat-form-field>
            </div>
            <p *ngIf="errorText != null && errorText.length > 0">
                <mat-form-field>
                    <textarea class="error" [readonly]="true"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="4"
                    cdkAutosizeMaxRows="6"
                    formControlName="error"
                    placeholder="fehler"></textarea>
                </mat-form-field>
            </p>
        </div>
    </div>
    <button mat-raised-button color="primary" title="{{'common.save' | translate}}" type="submit" [disabled]="!formGroup.valid" (click)="savePassword()" id=change-button>
        {{'common.save' | translate}}
    </button>
</mat-dialog-content>
