<mat-dialog-content>
    <div [formGroup]="formGroup">
        <div class="column">
            <div class="col-md-12">
                <h3>
                    Passwort festlegen für {{text}}
                </h3>
            </div>
            <div class="col-md-3">
                <mat-form-field>
                    <input type="password" matInput placeholder="Passwort" formControlName="password">
                </mat-form-field>
            </div>
            <div *ngIf="errorText != null && errorText.length > 0">
                {{errorText}}
            </div>>
        </div>
    </div>
    <button mat-raised-button color="primary" title="Speichern" type="submit" [disabled]="!formGroup.valid" (click)="savePassword()">
        Speichern
    </button>
</mat-dialog-content>