/// <summary>
/// RAM: 30%
/// </summary>
<mat-form-field>
  <mat-label>{{'common.filterWithTags' | translate}}</mat-label>
  <mat-chip-list #chipList>
    <mat-chip class="tagsDetails chips" (keyup.backspace)="removeTag()" *ngFor="let item of selectedTags"
      [selectable]="selectable" [removable]="removable" (removed)="remove(item)">
      {{ item.name }}
      <mat-icon matChipRemove *ngIf="removable" class="removeChipIcon">cancel</mat-icon>
    </mat-chip>

    <input id="tagInput" #tagInput [matAutocomplete]="auto" #inputTrigger [matChipInputFor]="chipList"
      [formControl]="tagsControl" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="addTag($event)" maxlength=32>
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let item of filteredTagsObservable | async" [value]="item">
      {{item}}
    </mat-option>
  </mat-autocomplete>

</mat-form-field>
