/// <summary>
/// RAM: 100%
/// </summary>
.tagsDetails {
  margin: 15px;
  // bottom: -10px;
  color: white;
  background-color: #3f51b5;
}

#cancelButton {
  z-index: -1;
  color: white;
}

mat-form-field {
  width: 100%;
}
