<mat-dialog-content [formGroup]="organizationForm">
    <div class="row">
        <div class="col-md-12">
            <h3>
                {{'organization.new' | translate}}
            </h3>
        </div>
        <div class="col-md-3">
            <mat-form-field>
                <input matInput placeholder="Name" formControlName="name">
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field>
                <input matInput placeholder="{{'common.description' | translate}}" formControlName="description">
            </mat-form-field>
        </div>
    </div>

    <app-osm-address formGroupName="address"></app-osm-address>

    <div class="row" formGroupName="contact">
        <div class="col-md">
            <mat-form-field>
                <input matInput placeholder="{{'contact.phoneNumber' | translate}}" formControlName="phoneNumber">
            </mat-form-field>
        </div>
        <div class="col-md">
            <mat-form-field>
                <input matInput placeholder="{{'contact.fax' | translate}}" formControlName="fax">
            </mat-form-field>
        </div>
        <div class="col-md">
            <mat-form-field>
                <input matInput placeholder="{{'contact.mail' | translate}}" formControlName="mail">
            </mat-form-field>
        </div>
        <app-contact-possibilities></app-contact-possibilities>
    </div>
</mat-dialog-content>
<mat-dialog-actions mat-dialog-actions align="end">
    <button mat-raised-button color="primary" title="{{'common.cancel' | translate}}" (click)="onCancel()">
        {{'common.cancel' | translate}}
    </button>
    <button mat-raised-button color="primary" title="{{'common.save' | translate}}" type="submit" [disabled]="!organizationForm.valid"
        (click)="onApprove()">
        {{'common.save' | translate}}
    </button>
</mat-dialog-actions>