/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
form {
  margin: 0px 15px;
}
@import "~angular-calendar/css/angular-calendar.css";

app-tags-filter {
  padding-right: 16px;
}

.chips {
  color: white !important;
  background-color: #3f51b5 !important;

}
.removeChipIcon {
  z-index: -1;
  color: white !important;
}