<div class="contactDetails" [formGroup]="contactsForm">
    <div class="row">
        <div class="col-md-12">
            <h3>
                Neuer Kontakt
            </h3>
        </div>
        <mat-form-field class="col-md-6">
            <input matInput placeholder="Vorname" formControlName="preName">
        </mat-form-field>
        <mat-form-field class="col-md-6">
            <input matInput placeholder="Nachname" formControlName="name">
        </mat-form-field>
    </div>

  <app-osm-address formControlName="address"></app-osm-address>

    <div class="row">
        <div class="col-md-12">
            <h3>
                Kontaktmöglichkeiten
            </h3>
        </div>
    </div>
    <div class="row" formGroupName="contactPossibilities">
        <div class="col-md-3">
            <mat-form-field>
                <input matInput placeholder="E-Mail" formControlName="mail">
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field>
                <input matInput placeholder="Telefonnummer" formControlName="phoneNumber">
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field>
                <input matInput placeholder="Faxnummer" formControlName="fax">
            </mat-form-field>
        </div>
        <app-contact-possibilities></app-contact-possibilities>
    </div>
    
    <button mat-raised-button color="primary" type="submit" [disabled]="!contactsForm.valid || !contactPossibilitiesEntries.isFormValid()" (click)="addContact()"
        routerLink="/contacts">
        Speichern
    </button>
    <button mat-raised-button color="primary" routerLink="/contacts">
        Verwerfen
    </button>
</div>
