<div class="organizationDetails" [formGroup]="organizationForm">
    <div class="row">
        <div class="col-md-12">
            <h3>
                Neue Organisation
            </h3>
        </div>
        <div class="col-md-3">
            <mat-form-field>
                <input matInput placeholder="Name" formControlName="name">
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field>
                <input matInput placeholder="Beschreibung" formControlName="description">
            </mat-form-field>
        </div>
    </div>

    <app-osm-address formControlName="address"></app-osm-address>

    <div class="row" formGroupName="contact">
        <div class="col-md">
            <mat-form-field>
                <input matInput placeholder="Telefonnummer" formControlName="phoneNumber">
            </mat-form-field>
        </div>    
        <div class="col-md">
            <mat-form-field>
                <input matInput placeholder="Faxnummer" formControlName="fax">
            </mat-form-field>
        </div>    
        <div class="col-md">
            <mat-form-field>
                <input matInput placeholder="E-Mail" formControlName="mail">
            </mat-form-field>
        </div>
        <app-contact-possibilities></app-contact-possibilities>
    </div>
    <button mat-raised-button color="primary" type="submit" [disabled]="!organizationForm.valid || !contactPossibilitiesEntries.isFormValid()" (click)="onAddOrganization()"
        routerLink="/organizations">
        Speichern
    </button>
    <button mat-raised-button color="primary" routerLink="/organizations">
        Verwerfen
    </button>
</div>