<mat-toolbar>
    <mat-toolbar-row>
        <span>Benutzer</span>
        <span class="spacer"></span>
        <mat-form-field>
            <input matInput placeholder="Suche">
        </mat-form-field>
        <button button="submit" [disabled]="!permissionAddUser" mat-mini-fab color="primary" (click)="openAddDialog()">
            <mat-icon>add</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef> Username </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.userName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="mail">
        <mat-header-cell *matHeaderCellDef> E-Mail </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="firstname">
        <mat-header-cell *matHeaderCellDef> Vorname </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastname">
        <mat-header-cell *matHeaderCellDef> Nachname </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="options">
        <mat-header-cell *matHeaderCellDef> Optionen </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <!-- <button mat-icon-button (click)="OnDelete(element.id)"> <mat-icon>delete</mat-icon></button> -->
            <button class="editUserButton" [disabled]="!permissionEditUser" mat-icon-button
                (click)="openEditDialog(element.id)" title="Bearbeiten">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button [disabled]="!permissionResetPasswort" (click)="OnPasswordReset(element.id)"
                title="Passwort zurücksetzen">
                <mat-icon>lock</mat-icon>
            </button>
            <button mat-icon-button [disabled]="!permissionLockUser" (click)="SetLockoutState(element.id)">
                <mat-icon *ngIf=!element.userLockEnabled title="Benutzer sperren">done
                </mat-icon>
                <mat-icon *ngIf=element.userLockEnabled title="Sperre aufheben">clear</mat-icon>
            </button>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
