<div class="contactDetails" [formGroup]="contactsForm">
    <div class="row">
        <div class="col-md-12">
            <h3>
                Kontaktdaten
            </h3>
        </div>
        <div class="col-md-3">
            <mat-form-field>
                <input matInput placeholder="Vorname" formControlName="preName">
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field>
                <input matInput placeholder="Nachname" formControlName="name">
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>
                Adresse
            </h3>
        </div>
    </div>
    <div class="row" formGroupName="address">
        <div class="col-md-3">
            <mat-form-field>
                <input matInput placeholder="Strasse" formControlName="street">
            </mat-form-field>
        </div>    
        <div class="col-md-3">
            <mat-form-field>
                <input matInput placeholder="Hausnummer" formControlName="streetNumber">
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field>
                <input matInput placeholder="PLZ" formControlName="zipcode">
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field>
                <input matInput placeholder="Ort" formControlName="city">
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field>
                <input matInput placeholder="Land" formControlName="country">
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>
                Kontaktmöglichkeiten
            </h3>
        </div>
        <div class="row" formGroupName="contactPossibilities">
            <div class="col-md-3">
                <mat-form-field>
                    <input matInput placeholder="E-Mail" formControlName="mail">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field>
                    <input matInput placeholder="Telefonnummer" formControlName="phoneNumber">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field>
                    <input matInput placeholder="Faxnummer" formControlName="fax">
                </mat-form-field>
            </div>
        </div>
    </div>
    <button mat-raised-button color="primary" type="submit" (click)="updateContact()" routerLink="/contacts" [disabled]="!contactsForm.valid">Speichern</button>
</div>

<hr>