<mat-toolbar>
    <mat-toolbar-row class="tabrow">
        <span>Veranstaltungen</span>
        <span class="spacer"></span>
        <app-tags-filter></app-tags-filter>
        <mat-form-field>
            <mat-label>Suche</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Veranstaltungen...">
        </mat-form-field>
        <mat-checkbox class="button" [checked]="checkboxSelected"
            title="Veranstaltungen aus der Vergangenheit ausblenden" (change)="toggleSelection()">
            Veranstaltungen aus der Vergangenheit ausblenden
        </mat-checkbox>
        <button id="addDummyEventButton" class="button" [disabled]="!permissionAdd" mat-raised-button color="primary"
            title="Dummy Veranstaltung hinzufügen" (click)="addDummyEvent()">
            <mat-icon>add</mat-icon> Dummy Veranstaltung hinzufügen
        </button>
        <button id="addEventButton" class="button" button="submit" [disabled]="!permissionAdd" mat-mini-fab
            color="primary" (click)="addEvent()">
            <mat-icon>add</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<div fxLayout="column" fxLayoutGap="100px">
    <mat-table mat-table [dataSource]="dataSourceFiltered">
        <ng-container matColumnDef="bezeichnung">
            <mat-header-cell *matHeaderCellDef> Bezeichnung </mat-header-cell>
            <mat-cell [ngStyle]="{'background-color': isToday(element) ? 'blue' : ''}" *matCellDef="let element">
                {{element.name}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="datum">
            <mat-header-cell *matHeaderCellDef> Datum </mat-header-cell>
            <mat-cell [ngStyle]="{'background-color': isToday(element) ? 'blue' : ''}" *matCellDef="let element">
                {{element.date | date:'dd-MM-yyyy'}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="uhrzeit">
            <mat-header-cell *matHeaderCellDef> Uhrzeit </mat-header-cell>
            <mat-cell [ngStyle]="{'background-color': isToday(element) ? 'blue' : ''}" *matCellDef="let element">
                {{element.time | date:'HH:mm:ss'}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> Aktion </mat-header-cell>
            <mat-cell *matCellDef="let element" fxLayoutGap="5px">
                <button mat-icon-button [disabled]="!permissionModify" (click)="callEdit(element.id)" color="primary"
                    class="editButton" (click)="callEdit(element.id)">
                    <mat-icon class="icon" title="Veranstaltung bearbeiten">edit</mat-icon>
                </button>
                <button mat-icon-button [disabled]="!permissionModify" (click)="openInfo(element.id)" color="primary">
                    <mat-icon class="icon" title="Veranstaltungsinformationen anzeigen">list</mat-icon>
                </button>
                <button mat-icon-button [disabled]="!permissionDelete" (click)="deleteEvent(element.id)"
                    color="primary">
                    <mat-icon class="icon" title="Veranstaltung löschen">delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        <!-- Group header -->
        <ng-container matColumnDef="groupHeader">
            <mat-cell colspan="999" *matCellDef="let groupBy"><strong>Kalenderwoche {{groupBy.weekNumber}}</strong>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        <mat-row *matRowDef="let row; columns: ['groupHeader']; when: isGroup"> </mat-row>
    </mat-table>
</div>
<br>
