<div fxLayout="column" fxLayoutGap="100px">
    <mat-table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="bezeichnung">
            <mat-header-cell *matHeaderCellDef> Bezeichnung </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="datum">
            <mat-header-cell *matHeaderCellDef> Datum </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.date | date:'dd-MM-yyyy'}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="uhrzeit">
            <mat-header-cell *matHeaderCellDef> Uhrzeit </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.time | date:'HH:mm:ss'}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> Aktion </mat-header-cell>
            <mat-cell *matCellDef="let element" fxLayoutGap="5px">
                <a (click)="callEdit(element.id)" type="button">
                    <mat-icon color="primary" class="icon">edit</mat-icon>
                </a>
                <a (click)="openInfo(element.id)" type="button">
                    <mat-icon color="primary" class="icon">list</mat-icon>
                </a>
                <a (click)="deleteEvent(element.id)" type="button">
                    <mat-icon color="primary" class="icon">delete</mat-icon>
                </a>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>
<br>

<div fxLayout="column" fxLayoutAlign="space-around end" class="content">
    <div class="blocks">
        <button button="submit" mat-raised-button color="primary" (click)="addContact()"> 
            <mat-icon>add</mat-icon> Veranstaltung hinzufügen
        </button>
    </div>
    <div>
        <mat-checkbox [checked]="checkboxSelected" (change)="toggleSelection()">
            Veranstaltungen aus der Vergangenheit ausblenden
        </mat-checkbox>
    </div>
</div>