<mat-toolbar>
    <mat-toolbar-row class="tabrow">
        <span class="spacer"></span>
        <app-tags-filter></app-tags-filter>
        <mat-form-field>
            <mat-label>{{'common.search' | translate}}</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="{{'event.events' | translate }}...">
        </mat-form-field>
        <mat-checkbox color="primary" class="button" [checked]="checkboxSelected" title="{{'event.hidePast' | translate}}"
            (change)="toggleSelection()">
            {{'event.hidePast' | translate}}
        </mat-checkbox>
        <button id="addDummyEventButton" class="button" *ngIf="isAdminUserLoggedIn" [disabled]="!permissionAdd"
            mat-raised-button color="primary" title="{{'event.addDummy' | translate}}" (click)="addDummyEvent()">
            <mat-icon>add</mat-icon> {{'event.addDummy' | translate}}
        </button>
        <button id="addEventButton" class="button" button="submit" [disabled]="!permissionAdd" mat-mini-fab
            color="primary" (click)="addEvent()">
            <mat-icon>add</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<div fxLayout="column" fxLayoutGap="100px">
    <mat-table mat-table [dataSource]="dataSourceFiltered">
        <ng-container matColumnDef="bezeichnung">
            <mat-header-cell *matHeaderCellDef> {{'common.label' | translate}} </mat-header-cell>
            <mat-cell (click)="openInfo(element.id)" [ngClass]="{'today': isToday(element)}" *matCellDef="let element">
                {{element.name}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="datum">
            <mat-header-cell *matHeaderCellDef> {{'common.date' | translate}} </mat-header-cell>
            <mat-cell (click)="openInfo(element.id)" [ngClass]="{'today': isToday(element)}" *matCellDef="let element">
                {{element.date | date}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="uhrzeit">
            <mat-header-cell *matHeaderCellDef> {{'common.time' | translate}} </mat-header-cell>
            <mat-cell (click)="openInfo(element.id)" [ngClass]="{'today': isToday(element)}" *matCellDef="let element">
                {{element.time | date:'shortTime'}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> {{'common.action' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let element" fxLayoutGap="5px">
                <button type="button" mat-icon-button [disabled]="!permissionModify"
                    color="primary" class="editButton" (click)="callEdit(element.id)">
                    <mat-icon class="icon" title="{{'event.edit' | translate}}">edit</mat-icon>
                </button>
                <button type="button" mat-icon-button [disabled]="!permissionModify" (click)="openInfo(element.id)"
                    color="primary">
                    <mat-icon class="icon" title="{{'event.show' | translate}}">info</mat-icon>
                </button>
                <button type="button" mat-icon-button [disabled]="!permissionDelete" (click)="deleteEvent(element.id)"
                    color="primary">
                    <mat-icon class="icon" title="{{'event.delete' | translate}}">delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        <!-- Group header -->
        <ng-container matColumnDef="groupHeader">
            <mat-cell colspan="999" *matCellDef="let groupBy"><strong>{{'common.calendarWeek' | translate}}
                    {{groupBy.weekNumber}}</strong>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        <mat-row *matRowDef="let row; columns: ['groupHeader']; when: isGroup"> </mat-row>
    </mat-table>
</div>
<br>