<div class="mydivclass" [formGroup]="mailsForm">
    <div class="column">
        <div class="row">
            <div class="col-md-3">
                <mat-form-field class="textMargin">
                    <input matInput placeholder="{{'contact.mail' | translate}}" formControlName="mailAddress">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="textMargin">
                    <input matInput placeholder="{{'settings.displayName' | translate}}" formControlName="displayName">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <mat-form-field class="textMargin">
                    <input matInput placeholder="{{'settings.username' | translate}}" formControlName="userName">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="textMargin">
                    <input matInput type="password" placeholder="{{'settings.password' | translate}}" formControlName="password">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <mat-form-field class="textMargin">
                    <input matInput placeholder="{{'settings.port' | translate}}" formControlName="port">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="textMargin">
                    <input matInput placeholder="{{'settings.host' | translate}}" formControlName="host">
                </mat-form-field>
            </div>
        </div>
        <button class="margin" id="saveMail" mat-raised-button color="primary" title="{{'common.save' | translate}}" type="submit" [disabled]="!mailsForm.valid"
            (click)="saveValues()">
            {{'common.save' | translate}}
        </button>
    </div>
</div>
<div class="margin">
    {{'settings.testMail' | translate}}
</div>
<div class="mydivclass" [formGroup]="sendMailForm">
    <div class="column">
        <div class="col-md-3">
            <mat-form-field class="textMargin">
                <input matInput placeholder="{{'contact.mail' | translate}}" formControlName="address">
            </mat-form-field>
        </div>
    </div>
    <button class="margin" id="sendMail" mat-raised-button color="primary" title="{{'settings.sendMail' | translate}}" type="submit" [disabled]="!sendMailForm.valid"
        (click)="sendMail()">
        {{'settings.sendMail' | translate}}
    </button>
</div>
