<mat-dialog-content>
    <div class="row">
        <div class="col-md-12">
            <h2>
                {{'contact.disclosure.generate' | translate}}
            </h2>
            <p>
                {{'contact.disclosure.description' | translate}}
            </p>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions mat-dialog-actions align="end">
    <button mat-raised-button color="primary" title="{{'common.cancel' | translate}}" (click)="onCancel()">
        {{'common.cancel' | translate}}
    </button>
    <button mat-raised-button color="primary" title="{{'common.send' | translate}}" type="submit"
        (click)="onApprove()">
        {{'common.send' | translate}}
    </button>
</mat-dialog-actions>
