<mat-dialog-content>
    <div class="row">
        <div class="col-md-12">
            <h2>
                Kontaktauskunft generieren
            </h2>
            <p>
                Erzeugt eine PDF-Datei mit allen im CRMS gespeicherten Daten zu gewähltem Kontakt gem. Auskunftspflicht EU-DSGVO Art. 15. Die PDF-Datei wird direkt an die E-Mail-Adresse des Kontakts gesendet.
            </p>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions mat-dialog-actions align="end">
    <button mat-raised-button color="primary" title="Abbrechen" (click)="onCancel()">
        Abbrechen
    </button>
    <button mat-raised-button color="primary" title="Senden" type="submit"
        (click)="onApprove()">
        Senden
    </button>
</mat-dialog-actions>
