<button mat-icon-button id="user-menu" [matMenuTriggerFor]="userMenu" title="{{'common.usermenu' | translate}}">
    <mat-icon>account_circle</mat-icon>
</button>
<mat-menu #userMenu="matMenu">
    <button mat-menu-item>
        <mat-icon>account_circle</mat-icon>
        {{'common.profile' | translate}}
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item routerLink="/settings">
        <mat-icon>settings</mat-icon>
        {{'common.settings' | translate}}
    </button>
    <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        {{'common.logout' | translate}}
    </button>
</mat-menu>