<mat-dialog-content>
    <div class="organizationDetails" [formGroup]="organizationForm">
        <div class="row">
            <div class="col-md-12">
                <h3>
                    Organisation bearbeiten
                </h3>
            </div>
            <div class="col-md-3">
                <mat-form-field>
                    <input matInput placeholder="Name" formControlName="name">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field>
                    <input matInput placeholder="Beschreibung" formControlName="description">
                </mat-form-field>
            </div>
        </div>

        <app-osm-address formControlName="address"></app-osm-address>

        <div class="row" formGroupName="contact">
            <div class="col-md">
                <mat-form-field>
                    <input matInput placeholder="Telefonnummer" formControlName="phoneNumber">
                </mat-form-field>
            </div>
            <div class="col-md">
                <mat-form-field>
                    <input matInput placeholder="Faxnummer" formControlName="fax">
                </mat-form-field>
            </div>
            <div class="col-md">
                <mat-form-field>
                    <input matInput placeholder="E-Mail" formControlName="mail">
                </mat-form-field>
            </div>
            <app-contact-possibilities></app-contact-possibilities>
        </div>
    </div>
    <mat-chip-list #chipList>
        <mat-chip *ngFor="let item of selectedItems" [selectable]="selectable">
            {{ item.preName + ' ' + item.name }}
        </mat-chip>
        <input type="text" #inputTrigger placeholder="Mitarbeiter auswählen" matInput [matAutocomplete]="autoComplete"
            [formControl]="itemControl" [matChipInputFor]="chipList">
    </mat-chip-list>

    <mat-autocomplete #autoComplete="matAutocomplete">
        <mat-option>
            <mat-checkbox [checked]="isAllSelected" (change)="toggleSelectAll()" (click)="$event.stopPropagation()">
                Alle selektieren
            </mat-checkbox>
        </mat-option>
        <mat-option *ngFor="let item of filteredItems" [value]="selectedItems">
            <div (click)="optionClicked($event, item);">
                <mat-checkbox [checked]="item.selected" (change)="toggleSelection(item)"
                    (click)="$event.stopPropagation()">
                    {{ item.preName + ' ' + item.name }}
                </mat-checkbox>
            </div>
        </mat-option>
    </mat-autocomplete>
    <div>
        <button mat-raised-button (click)="onDelete()" color="warn">Löschen</button>
        <span class="fill-remaining-space"></span>
        <button mat-raised-button color="primary" title="Abbrechen" (click)="onCancel()">
            Abbrechen
        </button>
        <button mat-raised-button color="primary" title="Speichern" type="submit" [disabled]="!organizationForm.valid"
            (click)="onApprove()">
            Speichern
        </button>
    </div>
</mat-dialog-content>