/// <summary>
/// RAM: 80%
/// </summary>
.organizationDetails {
	margin: 15px;
}
.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
.marginTop {
   margin: 15px;
}
 .leftMargin {
   margin-left: 17px;
 }