<mat-dialog-content class="contactDetails" [formGroup]="contactsForm">
    <div class="row">
        <div class="col-md-12">
            <h3>
                Neuer Kontakt
            </h3>
        </div>
        <mat-form-field class="col-md-6">
            <input id="preName" matInput placeholder="Vorname" formControlName="preName">
        </mat-form-field>
        <mat-form-field class="col-md-6">
            <input id="name" matInput placeholder="Nachname" formControlName="name">
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field class="col-md-6">
            <mat-label>Geschlecht wählen</mat-label>
            <mat-select id="gender" formControlName="gender">
                <mat-option [value]="suit" *ngFor="let suit of genderTypes">{{suit}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="col-md-6">
            <input id="contactPartner" matInput placeholder="Ansprechpartner" formControlName="contactPartner">
        </mat-form-field>
    </div>

    <app-osm-address formGroupName="address"></app-osm-address>

    <div class="row">
        <div class="col-md-12">
            <h3>
                Kontaktmöglichkeiten
            </h3>
        </div>
    </div>
    <div class="row" formGroupName="contactPossibilities">
        <div class="col-md-3">
            <mat-form-field>
                <input id="mail" matInput placeholder="E-Mail" formControlName="mail">
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field>
                <input id="phoneNumber" matInput placeholder="Telefonnummer" formControlName="phoneNumber">
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field>
                <input id="fax" matInput placeholder="Faxnummer" formControlName="fax">
            </mat-form-field>
        </div>
        <app-contact-possibilities></app-contact-possibilities>
    </div>
    <div>
        <span class="fill-remaining-space"></span>
        <button mat-raised-button color="primary" title="Abbrechen" (click)="onCancel()">
            Abbrechen
        </button>
        <button id="save" mat-raised-button color="primary" title="Speichern" type="submit" [disabled]="!contactsForm.valid"
            (click)="onApprove()">
            Speichern
        </button>
    </div>
</mat-dialog-content>