<div class="organizationDetails" [formGroup]="organizationForm">
    <div class="row">
        <div class="col-md-12">
            <h3>
                {{'organization.organizations' | translate}}
            </h3>
        </div>
        <div class="col-md-3">
            <mat-form-field>
                <input matInput placeholder="name" formControlName="name">
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field>
                <input matInput placeholder="{{'common.description' | translate}}" formControlName="description">
            </mat-form-field>
        </div>
    </div>

    <app-osm-address formControlName="address"></app-osm-address>

    <div class="row" formGroupName="contact">
        <div class="col-md">
            <mat-form-field>
                <input matInput placeholder="{{'contact.phoneNumber' | translate}}" formControlName="phoneNumber">
            </mat-form-field>
        </div>
        <div class="col-md">
            <mat-form-field>
                <input matInput placeholder="{{'contact.fax' | translate}}" formControlName="fax">
            </mat-form-field>
        </div>
        <div class="col-md">
            <mat-form-field>
                <input matInput placeholder="{{'contact.mail' | translate}}" formControlName="mail">
            </mat-form-field>
        </div>
        <app-contact-possibilities></app-contact-possibilities>
    </div>
</div>
<mat-chip-list #chipList>
    <mat-chip *ngFor="let item of selectedItems" [selectable]="selectable">
        {{ item.preName + ' ' + item.name }}
    </mat-chip>
    <input type="text" #inputTrigger placeholder="{{'organization.chooseEmployees' | translate}}" matInput [matAutocomplete]="autoComplete"
        [formControl]="itemControl" [matChipInputFor]="chipList">
</mat-chip-list>

<mat-autocomplete #autoComplete="matAutocomplete">
    <mat-option>
        <mat-checkbox [checked]="isAllSelected" (change)="toggleSelectAll()" (click)="$event.stopPropagation()">
            {{'common.selectAll' | translate}}
        </mat-checkbox>
    </mat-option>
    <mat-option *ngFor="let item of filteredItems" [value]="selectedItems">
        <div (click)="optionClicked($event, item);">
            <mat-checkbox [checked]="item.selected" (change)="toggleSelection(item)" (click)="$event.stopPropagation()">
                {{ item.preName + ' ' + item.name }}
            </mat-checkbox>
        </div>
    </mat-option>
</mat-autocomplete>
<button mat-raised-button color="primary" type="submit" [disabled]="!organizationForm.valid" (click)="saveValues()"
    routerLink="/organizations">
    {{'common.save' | translate}}
</button>
<button mat-raised-button color="primary" routerLink="/organizations">
    {{'common.cancel' | translate}}
</button>